@import url("https://fonts.googleapis.com/css?family=Monoton|Lora|Montserrat:600&display=swap");
:root {
  --primaryColor: #ffffff;
  --secondaryColor: #462686;
  --linkColor: #5c5c5c;
  --shadow: 0px 3px 6px #00000015;
  --textShadow: 0px 3px 6px #00000034;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  font-size: 10px;
  background-color: var(--primaryColor);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
label,
li,
img {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
p {
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.5em;
  color: #adadad;
}

h1 {
  font-size: 5.6em;
  letter-spacing: 0.3em;
}
h2 {
  font-size: 4.48em;
  line-height: 1.1;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.2em;
  letter-spacing: 0.6px;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 0.9em;
  letter-spacing: 1px;
}

a,
button {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  text-decoration: none !important;
  color: inherit;
  transition: all 0.3s;
  border: none;
}
a {
  font-size: 1.2em;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-vertical-center {
  display: flex;
  align-items: center;
}
.flex-horizontal-center {
  display: flex;
  justify-content: center;
}
.btn {
  cursor: pointer;
  height: 3.5em;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border-radius: 3em;
  box-shadow: var(--shadow);
  font-weight: 700 !important;
}
.dropdown-container {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 10em);
  background-color: rgba(21, 17, 17, 0.527);
}
.dropdown-container .dropdown-content {
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  background-color: #fefefe;
  margin: auto;
  width: 100%;
  /* min-height: 10em; */
  padding: 1em 5%;
  padding-bottom: 5em;
}

.dropdown-container .dropdown-content .dropdown-links .dropdown-link {
  margin-right: 6em;
}

.dropdown-container
  .dropdown-content
  .dropdown-links
  .dropdown-link
  .link-title {
  font-size: 1.1em;
  line-height: 2.5em;
  color: #000000;
  font-weight: 600;
}

.dropdown-container
  .dropdown-content
  .dropdown-links
  .dropdown-link
  .link-description {
  font-size: 1em;
  line-height: 2em;
  color: var(--linkColor);
}

.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
