@import url("https://fonts.googleapis.com/css?family=Monoton|Lora|Montserrat:600&display=swap");
:root {
  --primaryColor: #ffffff;
  --secondaryColor: #462686;
  --linkColor: #5c5c5c;
  --shadow: 0px 3px 6px #00000015;
  --textShadow: 0px 3px 6px #00000034;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  font-size: 10px;
  background-color: var(--primaryColor);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
label,
li,
img {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
p {
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.5em;
  color: #adadad;
}

h1 {
  font-size: 5.6em;
  letter-spacing: 0.3em;
}
h2 {
  font-size: 4.48em;
  line-height: 1.1;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.2em;
  letter-spacing: 0.6px;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 0.9em;
  letter-spacing: 1px;
}

a,
button {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  text-decoration: none !important;
  color: inherit;
  transition: all 0.3s;
  border: none;
}
a {
  font-size: 1.2em;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-vertical-center {
  display: flex;
  align-items: center;
}
.flex-horizontal-center {
  display: flex;
  justify-content: center;
}
.btn {
  cursor: pointer;
  height: 3.5em;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border-radius: 3em;
  box-shadow: var(--shadow);
  font-weight: 700 !important;
}
.cta {
  padding: 0 2em;
  height: 3.5em;
  width: 13em;
  font-size: 1.2em;
  box-shadow: var(--shadow);
}
.cta img {
  height: 0.8em;
  width: 0.8em;
  margin-left: 0.8em;
}
.dropdown-container {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 10em);
  background-color: rgba(21, 17, 17, 0.527);
}
.dropdown-container .dropdown-content {
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  background-color: #fefefe;
  margin: auto;
  width: 100%;
  padding: 1em 5%;
  padding-bottom: 8em;
}

.dropdown-container .dropdown-content .dropdown-links .dropdown-link {
  margin-right: 6em;
  display: flex;
  align-items: flex-start;
}

.dropdown-container
  .dropdown-content
  .dropdown-links
  .dropdown-link
  .link-title {
  font-size: 1.1em;
  line-height: 2.5em;
  color: #000000;
  font-weight: 600;
}

.dropdown-container .dropdown-content .dropdown-links .dropdown-link img {
  width: 2em;
  height: 2em;
  margin-top: 0.5em;
  margin-right: 1em;
}
.dropdown-container
  .dropdown-content
  .dropdown-links
  .dropdown-link
  .link-description {
  font-size: 1em;
  line-height: 2em;
  color: var(--linkColor);
}

.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.box {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 10em 5%;
}

.box .box-left,
.box .box-right {
  width: 40%;
}

.box .box-left h3 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.box .box-left p {
  font-size: 1.2em;
}

.box .box-right {
  border: 0.2em solid var(--secondaryColor);
  min-height: 30em;
}
.horizontal-divider {
  width: 2em;
}

/* NAVBAR */

.navbar {
  height: 10em;
  padding: 0 5%;
}

.navbar .nav-links {
  margin-left: auto;
  width: 100%;
}

.navbar .nav-links .right-nav-links {
  margin-left: auto;
}

.navbar .nav-links .right-nav-links .btn {
  padding: 0 2em !important;
}

.navbar .nav-links .right-nav-links .btn a {
  font-size: 1em;
}

.navbar .nav-links .nav-link {
  margin-left: 2em;
  white-space: nowrap;
}
.navbar .logo-container {
  margin-right: 1em;
}
.navbar .logo-container h3 a .logo {
  height: 2.2em;
}
.navbar .nav-links .nav-link:hover a {
  color: #462686;
}
.navbar .nav-links .active a {
  color: #462686;
}

.navbar .nav-links .nav-link .link-icon {
  height: 0.8em;
  width: 0.8em;
  margin: 0 0.5em;
}

/* FOOTER */

footer {
  min-height: 8em;
  padding: 6em 5% 2em 5%;
}

footer .logo-lang {
  margin: 2em 0;
}

footer .logo-container h3 a .logo {
  height: 2.2em;
}

footer .contact-and-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

footer .contact-and-links .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

footer .contact-and-links .contact h4 {
  color: var(--linkColor);
  font-size: 1.5em;
  margin-bottom: 1em;
}

footer .contact-and-links .contact span {
  font-size: 1em;
  color: var(--linkColor);
}

footer .contact-and-links .contact .number {
  margin-top: 10em;
}

footer .contact-and-links .contact .number h4 {
  font-size: 1.8em;
}

footer .contact-and-links .contact .number span {
  display: inline-block;
  margin-bottom: 1em;
}

footer .contact-and-links .contact .social-media a {
  padding: 0.5em;
}

footer .contact-and-links .contact .social-media a img {
  height: 2em;
  width: 2em;
}

footer .contact-and-links .links {
  margin-left: auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

footer .contact-and-links .links .link-group {
  margin: 0 3em;
}

footer .contact-and-links .links .link-group .title {
  text-transform: uppercase;
  font-size: 1.4em;
  margin-bottom: 1em;
}

footer .contact-and-links .links .link-group .footer-links .footer-link {
  padding: 0.5em 0;
}

footer .contact-and-links .links .link-group .footer-links .footer-link a {
  font-size: 1.1em;
  color: var(--linkColor);
}

footer .copyright {
  margin-top: 8em;
  color: var(--linkColor);
  font-size: 1.3em;
}

.language-drop {
  background: transparent;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0 0;
  margin-left: auto;
  max-width: 17em;
  padding: 1em 2em;
  position: relative;
  width: 75%;
  z-index: 3;
  border: 0.2em solid var(--secondaryColor);
  border-radius: 0.5em;
}

.language-drop .drop {
  background: var(--primaryColor);
  /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); */
  border: 0.2em solid var(--secondaryColor);
  border-top: none;
  display: none;
  left: 0;
  list-style: none;
  margin-top: 0.2em;
  opacity: 0;
  padding-left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;
}
.language-drop .drop li {
  border-top: 0.2em solid var(--secondaryColor);
  transition: background 0.5s ease-in-out;
}
.language-drop .drop li a {
  color: #695d52;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.language-drop span {
  color: var(--secondaryColor);
  margin-left: 1.5em;
}
.language-drop .lang-icon {
  position: absolute;
  right: 1em;
  top: 1.3em;
  height: 1em;
  width: 1em;
}
.language-drop .lang {
  left: 1em;
  top: 0.8em;
  height: 1.6em;
  width: 1.6em;
}

.language-drop .drop li:hover a {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}
.language-drop .drop .selected a {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}

.language-drop.active::after {
  border-width: 0 10px 10px;
}

.language-drop.active .drop {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

/* MAP */
g {
  position: relative;
}
.st0 {
  fill: skyblue;
  stroke-width: 0.02em;
  stroke: #46268679;
  z-index: 0;
}
.st0:hover {
  stroke-width: 1px;
  fill: #462686;
  stroke: #462686;
  transition: 1s ease-out all;
  z-index: 2;
  left: 0;
  top: 0;
}
#Kenya,
#Egypt,
#Nigeria,
#Mali,
#Togo,
#Ghana,
#Tunisia,
#Tanzania,
#South-Africa {
  fill: #462686;
}
