:root {
  --primaryColor: #ffffff;
  --secondaryColor: #462686;
  --linkColor: #5c5c5c;
  --shadow: 0px 3px 6px #00000015;
  --textShadow: 0px 3px 6px #00000034;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin-top: 5em;
  min-height: 100vh;
}

.hero {
  padding: 0 5%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: calc(100vh - 10em);
}

.hero .hero-text-content,
.hero .hero-photo {
  width: 50%;
}

.hero .hero-text-content .hook {
  font-size: 3em;
  letter-spacing: 0.1em;
  color: var(--secondaryColor);
}

.hero .hero-text-content .sub-hook {
  font-size: 1.4em;
  color: var(--linkColor);
  font-weight: 100;
  margin: 2em 0;
}

.companies {
  padding: 0 5%;
}

.companies p {
  text-align: center;
  color: var(--linkColor);
}

.companies .company-logos {
  margin: 4em 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.companies .company-logos .logo-wrapper img {
  height: 4.5em;
}

.companies .company-logos .logo-wrapper .large {
  height: 2.3em;
}

.tabs {
  margin: 0 5%;
  margin-top: 15em;
}

.tabs .tabbar .tabbar-links {
  border: 0.2em solid var(--linkColor);
  border-radius: 0.4em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tabs .tabbar .tabbar-links .tabbar-link {
  border-radius: 0.2em;
  padding: 0 3em;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}

.tabs .tabbar .tabbar-links .tabbar-link:hover {
  background-color: var(--secondaryColor);
}

.tabs .tabbar .tabbar-links .tabbar-link:hover a {
  color: var(--primaryColor);
}

.tabs .tabbar .tabbar-links .tabbar-link a {
  line-height: 4em;
}

.tabs .tabbar .tabbar-links .active {
  background-color: var(--secondaryColor);
}

.tabs .tabbar .tabbar-links .active a {
  color: var(--primaryColor);
}

.tabs .manage-team {
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.tools {
  padding: 0 5%;
  margin-top: 15em;
}

.tools .tools-heading {
  text-align: center;
  font-size: 2.5em;
  line-height: 1.5em;
}

.tools .tool-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 5em;
}

.tools .tool-icons .tool-icon-container {
  width: calc(90vw / 1.1em);
  padding: 2.5em;
  margin: 1em 0;
}

.tools .tool-icons .tool-icon-container img {
  height: 5em;
  width: 5em;
}

.boxes {
  padding: 0 5%;
  margin-top: 15em;
}

.customer-support {
  padding: 0 5%;
  margin-top: 15em;
}

.customer-support .illustration,
.customer-support .text-content {
  width: 50%;
}

.customer-support .illustration {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.customer-support .illustration .support-types .support-type {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2em;
}

.customer-support .illustration .support-types .support-type img {
  height: 3.5em;
  width: 3.5em;
  margin-bottom: 1em;
}

.customer-support .illustration .support-types .support-type span {
  color: #5c5c5c;
}

.customer-support .illustration .image-wrapper {
  height: 26em;
  width: 26em;
  border-radius: 50%;
  margin-left: 2em;
}

.customer-support .illustration .image-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.customer-support .text-content h3 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.customer-support .text-content p {
  font-size: 1.2em;
  color: #5c5c5c;
}

.get-started {
  background-color: var(--secondaryColor);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6em 0;
  margin-top: 15em;
}

.get-started h2 {
  text-align: center;
  font-size: 2.8em;
  line-height: 3em;
  color: var(--primaryColor);
  text-shadow: var(--textShadow);
}

.get-started p {
  text-shadow: var(--textShadow);
  line-height: 1.5em;
}

.get-started .cta {
  background-color: #1a0d33;
  margin-top: 2.5em;
}
