:root {
  --primaryColor: #ffffff;
  --secondaryColor: #462686;
  --linkColor: #5c5c5c;
  --shadow: 0px 3px 6px #00000015;
  --textShadow: 0px 3px 6px #00000034;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navbar {
  height: 10em;
  padding: 0 5%;
  .nav-links {
    margin-left: auto;
    width: 100%;
    .right-nav-links {
      margin-left: auto;
      .btn {
        padding: 0 2em !important;
        a {
          font-size: 1em;
        }
      }
    }
    .nav-link {
      margin-left: 2em;
      .link-icon {
        height: 0.8em;
        width: 0.8em;
        margin: 0 0.5em;
      }
    }
  }
}

main {
  margin-top: 5em;
  min-height: 100vh;
}
.hero {
  padding: 0 5%;
  justify-content: space-between;
  height: calc(100vh - 10em);
  .hero-text-content,
  .hero-photo {
    width: 50%;
  }
  .hero-text-content {
    .hook {
      font-size: 3em;
      letter-spacing: 0.1em;
      color: var(--secondaryColor);
    }
    .sub-hook {
      font-size: 1.4em;
      color: var(--linkColor);
      font-weight: 100;
      margin: 2em 0;
    }
    .btn {
      padding: 0 2em;
      height: 3.5em;
      width: 13em;
      font-size: 1.2em;
      box-shadow: var(--shadow);
      img {
        height: 0.8em;
        width: 0.8em;
        margin-left: 0.8em;
      }
    }
  }
}
.companies {
  p {
    text-align: center;
    color: var(--linkColor);
  }
}
footer {
  min-height: 8em;
  .copyright {
    color: var(--linkColor);
    font-size: 1.2em;
  }
}
