* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.group {
  position: relative;
  /* margin: 30px 0; */
  z-index: 0;
}

@media (max-width: 500px) {
  .group {
    margin: 20px 0;
  }
}

.group .form-input {
  background: none;
  background-color: transparent;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  border: 1px solid grey;
}

@media (max-width: 500px) {
  .group .form-input {
    margin: 10px 0;
    font-size: 16;
    padding: 5px;
  }
}

.group .form-input:focus {
  outline: none;
}

.group .showpass {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  z-index: 9999;
}

@media (max-width: 500px) {
  .group .showpass {
    top: 8px;
  }
}

.group .forgot-password {
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  color: #2d8be9;
  position: absolute;
  right: 0;
  bottom: -20px;
}

.group input[type="password"] {
  letter-spacing: 0.3em;
}

.group .form-input-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
}

@media (max-width: 500px) {
  .group .form-input-label {
    font-size: 14px;
  }
}
